body {
  margin: 0px;
  width: 100vw;
  height: 100vh;
  /* background: linear-gradient(149deg, rgb(0 0 0) 0%, rgb(62 62 62) 96.86%); */
  /* background-color: rgba(33,37,41,1); */
  background-color: #282828;
  font-family: sans-serif;

}

.Header{
  display: flex;
   /* flex-direction: row; */
  /* justify-content: center;  */
  justify-content: space-around;
    width: 100%;
    height: 3em;
    align-items: center;
}
.logo{
  display: flex;
  align-items: center;
  font-size: 1.25rem;
  color: white;
  margin-left: -66px;
}

.logo img{
  height: 72px;
  width: auto;
}
#nav-bar{
  display: flex;
  /* justify-content: center; */
  /* padding-top: 12px; */
  
}
#nav-bar-link{
  font-size: 1.25rem;
  margin-left: -35px;
}

.nav-link{
  color: grey;
  text-decoration: none;
  /* margin-left: 15px; */
  padding: 10px;
}

.nav-link:hover{
  color: #afafaf;

}

.nav-link[href="cart.html"]{
   font-weight: bold;
  color: #c0bfbf;
}

#sign-out-link{
  text-decoration: none;
  color: white;
  font-size: 1.15em;
}

#sign-out-link:hover{
  color: #afafaf;
}


/* ////////////////////////////////////////////////////// */
#cart-container {
  width: 70%;
  margin: 50px auto;
  background-color: #262626;
  border-radius: 10px;
  padding: 20px 40px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

/* ========== Cart Header ========== */
#cart-container h2 {
  color: #5b7bfa;
  font-size: 32px;
  margin-bottom: 25px;
}

/* ========== Each Cart Row ========== */
.obj-col {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #3a3a3a;
  padding: 15px 0;
}

.obj-col img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 10px;
  margin-right: 20px;
}

/* ========== Product Info ========== */
.obj-col h5 {
  color: #d4d4d4;
  font-size: 18px;
  margin: 0;
}

.obj-col p {
  color: #b0b0b0;
  font-size: 15px;
  margin: 0;
}

/* ========== Quantity Controls ========== */
.cart-btn-container {
  display: flex;
  align-items: center;
}

.cart-btn-container button {
  background-color: #3a3a3a;
  color: white;
  border: none;
  padding: 5px 10px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
}

.cart-btn-container input {
  background-color: #444;
  border: none;
  width: 40px;
  text-align: center;
  color: white;
  margin: 0 5px;
  border-radius: 4px;
}

/* ========== Price & Delete Button ========== */
.price {
  color: #b0b0b0;
  font-size: 15px;
  margin-right: 15px;
}

.delete-btn {
  background-color: #a92626;
  border: none;
  color: white;
  padding: 6px 14px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s;
}

.delete-btn:hover {
  background-color: #e64545;
}

/* ========== Total Section ========== */
#total-section {
  text-align: right;
  margin-top: 25px;
  color: #5b7bfa;
  font-size: 18px;
  font-weight: 600;
}